* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
}

h2, h3, li {
    font-family: 'Aleo', serif;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem; 
    line-height: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1rem;  
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 0.875rem;  
    line-height: 18px;
    font-weight: 400;
    margin-top: 0;
    color: #5a5a5a;
}

article {
    margin-bottom: 1.3em;
}

.featured-article-text {
    margin-bottom: 0.65em;
}

.featured-article-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    padding: 0.3em 1em;
    margin: 0;
}

li {
    font-weight: bold;
    font-size: 0.875rem;
}

img {
    width: 100%;
}

.meta-info {
    font-size: 0.812rem; 
}

.divider {
    color: #dbdbdb;
}

.time {
    color: #5a5a5a;
}

.category {
    color: #222;
}

.live {
    color: #bb1919;
    font-weight: 700;
    margin-right: 0.25em;
}

.icon {
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-bottom: -2px;
    filter: invert(32%) sepia(8%) saturate(0%) hue-rotate(174deg) brightness(93%) contrast(74%);
}

/* Media Queries */

@media (min-width: 500px) {
    article {
        margin-bottom: 0;
    }

    .featured-article-text {
        margin-bottom: 0;
    }

    .grid {
        display: grid;
        column-gap: 15px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
    }

    .featured-article {
        display: flex;
        grid-column: span 2;
        gap: 15px
    }

    .featured-article-text {
        flex: 1;
    }

    .featured-article-img {
        flex: 1;
    }

    .second-row {
        grid-column: span 2;
    }
}

@media (min-width: 700px) {
    h2 {
        font-size: 1.75rem; 
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-article {
        grid-column: span 3;
    }

    .featured-article-img {
        flex: 2;
    }

    .second-row {
        grid-column: span 3;
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .featured-article {
        grid-column: span 3;
    }

    .second-row {
        grid-column: span 4;
    }
}


